body {
    background-color: rgb(255, 208, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    background-color: rgb(255, 255, 255);
    margin-top: 150px;
    width: 310px;
    height: 430px;
    box-shadow: 10px 10px 0px black;
    transition: 4s;
    border-radius: 10px
    
 }


.container:hover {
    transform: scale(1.2);
    transition: 4s;
}

.card img {
    width: 260px;
    margin-top: 20px;
    border-radius: 10px;
}

#pid {
    background-color: rgb(255, 196, 0);
    height: 25px;
    width: 80px;
    font-size: 15px;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 25px;
}

.pad {
    text-align: start;
    margin-left: 25px;
}

h1 {
    font-size: 20px;
    margin-right: 30px;
}

.ped {
    text-align: start;
    margin-left: 22px;
    font-size: 15px;
    color: gray;
}


.pod {
    font-size: 13px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 5px;
}

.pod img {
    width: 25px;
    
}

